@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&family=Nunito+Sans:ital,wght@0,400;1,300&family=Roboto&family=Rubik:wght@300;500&display=swap");
body {
  font-family: "Roboto", Times, serif;
  overflow-x: hidden;
  width: 100vw;
  max-height: 100vh;
}
.bg-red {
  background-color: #c2272d;
}
.top-margin {
  margin-top: 7rem;
}
.top-text {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 3.5rem;
  color: #000;
}
header nav {
  width: 100%;
  height: 72px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
}
header nav .navbar-brand {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 2.25rem;
}
header nav a {
  color: #000;
  margin-right: 1rem;
}
header .bg-outline {
  color: #ef941f;
  background: #ffffff;
  text-align: center;
  width: 101px;
  height: 42px;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 42px;
}
header .btn-red {
  color: #fff;
  background: #c2272d;
  text-align: center;
  width: 101px;
  height: 42px;
  border-radius: 42px;
}
/* End of nav */
header .banner {
  margin-top: 2.5rem;

  color: #fff;
}
header .header-text {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 44.2729px;
  padding: 2rem 5rem;
  color: #fff;
}
header .header-text h3 {
  font-family: "Roboto";
  font-size: 1.6rem;
}
.goal h1 {
  margin-top: 1rem;
  margin-left: 2rem;
}
.goal p {
  font-size: 1.47rem;
  width: 482px;
  margin: 1rem 2rem;
}
.bg-gray {
  background: #f8f7f7;
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.25);
  padding: 1.5rem;
}
.card-section {
  margin-top: 5rem;
  height: 412px;
  /*  */
}
.card-section .card {
  padding: 1rem;
  height: 360px;
  text-align: center;
  line-height: 24px;
  /*  */
}
.card-title {
  font-size: 1.9rem;
  font-weight: bold;
  color: #000000;
}
.card-section h1 {
  color: #fff;
  margin: 86px 0px 0px 43px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 67px;
}
.card-section h1 + p {
  color: #fff;
  margin: 30px 36px 0px 43px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 120%;
}
.middel-text {
  text-align: center;
  font-style: italic;
  left: 193px;
  font-size: 48px;
  line-height: 140%;
}
.bg-white {
  background: #ffffff;
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.25);
  padding: 4rem;
  text-align: center;
  height: 100%;
}
.logoes h1 {
  padding: 4rem 3rem 0rem 3rem;
  color: #fff;
}
.logoes p {
  color: #fff;
  padding: 2rem 3rem 2rem 3rem;
  font-size: 22px;
}
.carousel-indicators {
  bottom: -3rem;
}
.carousel-indicators li {
  border-radius: 50%;
  height: 9px;
  width: 9px;
  background-color: #c4c4c4;
}
.carousel-indicators .active {
  border-radius: 50%;
  height: 12px;
  width: 12px;
  background-color: #c4c4c4;
}
.logo-padding {
  padding-top: 4rem;
}
.img-padding {
  padding-top: 1rem;
}
.message-section {
  padding-left: 16rem;
}
.message-section p {
  width: 450px;
  margin-top: 2rem;
  font-size: 22px;
}
.contact h1 {
  color: #fff;
  padding: 5rem 1rem 0px 2rem;
}
.contact p {
  color: #fff;
  padding: 1rem 1rem 3rem 2rem;
}
.contact .custom-input {
  border: none;
  height: 43px;
}
.contact .custom-textarea {
  border: none;
}
.btn-red {
  background-color: #c2272d;
  border-radius: 45px;
  color: #fff;
}
.profile .profile-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 10px;
  width: 50%;
  height: 70%;
  border: 6px solid #f60f1a;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  transform: scale(1, 1);
  transition: all 0.5s linear;
}

footer {
  background: #fafaff;
  text-align: center;
  padding: 4.3rem 0px;
}
footer h3 {
  font-family: " Nunito Sans";
  font-weight: bold;
  font-size: 18px;
  color: #eb801d;
}
footer h1 {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 2rem;
  color: #2d3150;
}
footer p {
  font-family: "Nunito Sans";
  font-style: normal;
  font-size: 1.8rem;
  color: #2d3150;
}
footer .custom-input-group {
  width: 464.53px;
  height: 52.26px;
  margin: auto;
  background: #fff;
  box-shadow: 0px 7.25824px 14.5165px rgba(54, 58, 120, 0.1);
  border-radius: 14.5165px;
}
footer .custom-input {
  border: none;
}
footer .fa-envelope {
  color: #9092b0;
  text-align: center;
  padding: 1rem;
}
footer .btn-send {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 600;
  margin: 5% 0.7rem 0px 0px;
  border-radius: 14px;
  background: #f60f1a;
  color: #fff;
  word-spacing: 10px;
}
footer ul {
  margin: auto;
  font-size: 1.5rem;
  margin-top: 2rem;
}
footer ul li {
  padding: 0px 0.5rem;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  text-align: center;
  padding-top: 0.4rem;
  background: #373c59;
}
footer ul li a {
  color: #fff;
}
/* login pages */
.login-header nav {
  background: #f8f8f8;
}
.login-header nav ul li {
  float: left;
  list-style: none;
  text-decoration: none;
}
.login-header nav ul li a {
  color: #544e4e;
  padding-top: 1rem;
  font-size: 26px;
}
.login-container {
  padding: 6.25rem 0px 100px 0px;
  display: flex;
  justify-content: center;
}
.form-container {
  width: 80%;
  background: #ffffff;
  border: 0.5px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  /* Card Drop Shadow */

  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.25);
  border-radius: 23px;
  padding: 65px;
  float: right;
}
.btn-blue {
  background-color: #689ded;
  width: 154px;
  height: 49px;
  margin-top: 0.9rem;
  padding: 1.25rem 1.8rem;
  text-align: center;
  display: flex;
  color: #fff !important;
  margin-top: 12px;
  align-items: center;
  border-radius: 6px;
}
.login-p {
  padding-top: 41px;
  text-align: center;
  font-weight: 300;
  font-size: 1.5rem;
}
.btn-login {
  width: 100%;
  background-color: #689ded;
  color: #fff;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 1.75rem;
  margin-top: 43px;
}
.form-header {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  color: #1d3245;
}
.text-required {
  color: #f60f1a;
}
.form-container .custom-input {
  background: #ffffff;
  border: 2px solid #000000;
  opacity: 0.3;
  height: 50px;
}
.form-container label {
  font-family: " Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  opacity: 0.7;
  margin-top: 1rem;
}
.form-container p {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  margin-top: 12px;
  text-align: center;
}
.footer-login {
  height: 78px;
  background: #f8f8f8;
  color: #1d3245;
}
.footer-link {
  color: #1d3245;
}
.footer-text-right {
  text-align: right;
}
.footer-text-left {
  text-align: left;
}
.register-bg {
  background-image: url("../imges/login-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  top: 0px;
}
.verfiy p {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 20px;
  /* identical to box height */

  text-align: center;
}
.verfiy a {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */
  text-align: center !important;
  padding-left: 30%;
  text-decoration-line: underline;

  color: #00488e;
}
.otp-input {
  margin: 2rem 0px;
}
.otp-custom-input {
  background: #ffffff;
  opacity: 0.3;
  border: 0.5px solid #707070;
}
.otp-text {
  font-family: "Nunito Sans";
  font-size: 18px;
}
.otp-time {
  color: #00488e;
  font-size: 18px;
  float: right;
}
.success-form-container {
  width: 50%;
  margin: auto;
  background: #ffffff;
  padding: 3rem 2rem;
  border: 0.5px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  text-align: center;

  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.25);
  border-radius: 23px;
}
.success-form-container a {
  font-size: 1.8rem;
  color: #00488e;
}
/* Dashboard */
.dashboar-bg {
  background-color: #e5e5e5;
}
.dashboard-header nav {
  background-color: #f8f8f8;
}
.dashboard-header nav ul {
  display: flex;
  margin-top: 2rem;
}
.dashboard-header nav ul {
  list-style: none;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 1.2rem;
  color: #000000;
}
.top-dropdown-menu {
  margin-left: -8rem;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #212529;
}
.dropdown-icon {
  padding-top: 1rem;
}
aside {
  width: 20%;
  height: 100vh;
  border-right: 1px solid #c4c4c4;
  padding-top: 82px;
  float: left;
  z-index: 100;
  overflow-x: hidden;
  transition: all 0.3s;
}
aside .btn-color,
.btn-updete {
  font-family: "Nunito Sans";
  font-weight: 300;
  width: 13rem;
  height: 2.9rem;
  color: #fff;
  background: #689ded;
  text-align: center;
  border-radius: 6px;
  margin-left: 42px;
}
.btn-updete {
  color: #000;
  background: #f8f8f8;
}
.btn-updete:hover {
  transform: scale(0.95);
}
aside ul li {
  width: 500px;
  height: 20px;
  list-style: none;
  margin-left: -42px !important;
  padding-top: 3.5rem;
  display: block;
}
aside ul li a {
  padding: 20px 172px 20px 30px;
  margin-top: 20px;
  font-family: " Nunito Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  color: #000;
}
.active-nav {
  background-color: #e8f0fe;
  width: 500px;
  height: 30px;
  padding: 20px 172px 20px 30px;
}
aside ul li a:hover {
  background-color: #e8f0fe;
  width: 100%;
  height: 30px;
  padding: 20px 172px 20px 30px;
  color: #000;
  text-decoration: none;
  overflow-x: hidden;
}
.main-container {
  width: 78%;
  height: 100vh;
  float: right;
  padding: 2rem 1rem;
  z-index: -1;
  margin-right: 20px;
}
.aside-show {
  background-color: transparent;
  border: none;
  color: #c4c4c4;
  font-size: 2rem;
  display: none;
}
.aside-close {
  background-color: transparent;
  border: none;
  color: #c4c4c4;
  font-size: 2rem;
  float: right;
  margin: -80px 20px;
  display: none;
}
.text-business-name,
.text-business-city {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  color: #000000;
  margin: -1rem 0rem 1rem 2rem;
}
.text-business-city {
  font-size: 14px;
}
.dashboard-serach {
  width: 100%;
  background: #ffffff;
  border-radius: 12px;
  padding: 0.4rem;
  font-family: "Nunito Sans";
  padding: 1rem 2rem;
  margin-top: 1rem;
}
.dashboard-serach:hover,
.dashboard-serach:focus {
  border: none;
  outline: none;
  box-shadow: none;
}
.main-container .custom-card {
  width: 100%;
  background: #ffffff;
  border-radius: 12px;
  padding: 0.4rem;
  font-family: "Nunito Sans";
  padding: 2rem;
  margin-top: 1rem;
}
.main-container .custom-card-text {
  font-size: 1.1rem;
  color: #000000;
}
.custom-card-text-p {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}
.custom-card-desc {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 0.8rem;
  line-height: 19px;
  font-weight: 300;
  color: #000000;
}
.dashboard-top-heading {
  font-family: "Montserrat";

  padding-bottom: 2rem;
}
.border-bottom {
  margin-top: 1.5rem;
  border-bottom: 1px solid #c4c4c4;
}
.dashboard-top-heading h1 {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;

  color: #474747;
}
.product-card {
  font-family: "Rubik";
  background: #f8f8f8;
  border-radius: 6px;
  border: none;
  margin-top: 2rem;
}
.product-card .card-top-img img {
  width: 100%;
  height: 100%;
}
.product-card .card-title {
  font-weight: 500;
  font-size: 18.5829px;
  line-height: 120%;
  text-transform: capitalize;
  color: #000000;
}
.product-card .card-text {
  font-size: 14px;
  line-height: 180%;
  color: #808080;
  font-weight: 300;
  opacity: 0.7;
}
.product-card .card-price {
  font-weight: 500;
  font-size: 20.29px;
  line-height: 120%;
  color: #941b0c;
}
.product-textarea,
.product-input {
  height: 3rem;
  background: #ffffff;
  opacity: 0.3;
  border: 2px solid #000000;
}
.product-textarea {
  height: 8rem;
}
.main-container label {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;

  color: #000000;

  opacity: 0.7;
}
.social-title {
  font-family: " Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  color: #000000;
}
.btn-social {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  width: 10rem;
  height: 2.8rem;
  background-color: #689ded;
  color: #fff;
}
.business-update-header {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
  color: #181818;
}
.btn-update {
  background: #e8f0fe;
  border-radius: 20px;
  color: #000;
}
.profile-info {
  width: 34rem;
  height: 13rem;
  background: #f8f8f8;
  padding: 3rem;
}
.profile-info p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}
.profile_edit {
  margin: -30px 40px;
  position: absolute;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 1.2rem;
  color: #00488e;
}
.add-business {
  width: 213px;
  height: 40px;
  left: 384px;
  top: 686px;
  background: #e8f0fe;
  border-radius: 20px;
  color: #000;
}
.password-change {
  width: 557px;
  height: 48px;
  background: #f8f8f8;
  margin-bottom: 10rem;
}
.password-change .card-header {
  border: none;
  background-color: #f8f8f8;
}
.password-change .card-header a {
  font-family: "Montserrat";
  font-size: 18px;
  line-height: 22px;
  text-align: center;

  color: #00488e;
}
.user-profile-info {
  width: 42rem;
  background: #f8f8f8;
  padding: 2rem;
  text-align: center;
}
.user-profile-info h1 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 1.8rem;
  padding-top: 2rem;
  color: #181818;
}
.user-profile-info p {
  font-size: 18px;
  color: #000000;
}
.user-profile-info  .business-desc{
  font-family: 'Nunito Sans';
  font-size: 14px;
  line-height: 19px;  
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
}
.business-heading-profile{
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  color: #000000;
  padding-top: 1rem;
}
.business-detial{
  width: 400px;
  font-size: 14px;
  text-align: center;
  margin: auto;
  color: #000000;
}
.btn-business-view{
  width: 151.23px;
  height: 37px;
left: 652px;
top: 824px;

background: #689DED;
border-radius: 6px;
color: #fff;
margin-top: 20px;
}
